{{ 'custom-floor.css' | asset_url | stylesheet_tag }}
<div class="section-custom-floor">
  <div class="row">
  <div class="section-heading">
    <div class="sub-title">
     The Best Flooring Solution on the Market
    </div>
    </div>
    <div class="table-wrapper">
<table border="1">
  <thead>
    <tr>
      <th>Flexifloor Tiles</th>
      <th>Ceramic</th>
      <th>Vinyl</th>
      <th>Porcelain</th>
    </tr>
  </thead>
  <tbody>
    <tr>  
       <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
       <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
       <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
       <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
    </tr>
    <tr>
       <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
       <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
       <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
       <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
    </tr>
    <tr>
      <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
      <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
      <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
      <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
    </tr>
    <tr>
      <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
      <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
      <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
      <td><div class="tbody-content"> <span class="svg-icon">{% render 'custom-icon-tick' %}</span><p>Integer scelerisque, ac rutrum odio mattis. Aenean lobortis taciti.</p></div></td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom floor",
    "tag": "section",
    "class": "custom-floor",
    "settings": [

    ],
    "blocks": [

  ],
    
    "presets": [
    {
      "name": "custom floor",
  }
    ]
  }
    
{% endschema %}