{{ 'custom-featured-section.css' | asset_url | stylesheet_tag }}
<div class="features-section">
  <h2 class="featured-section-heading">Features & Details</h2>
  <div class="custom-grid">
  <div class="feature-item">
    <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_33.png?v=1727090200" class="feature-image" />
    <div class="feature-text">
      <h3 class="featured-heading">Durable & Safe</h3>
      <p>
        Enjoy peace of mind with Flexfloor's durable, safe flooring. Our products are built to withstand daily wear and tear while providing a secure, hypoallergenic surface for your home.
      </p>
    </div>
  </div>
  <div class="feature-item">
    <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_33_1.png?v=1727090233" alt="Easy to Install" class="feature-image" />
    <div class="feature-text">
      <h3 class="featured-heading" >Easy to Install</h3>
      <p>
        Transform your space effortlessly with Flexfloor's DIY-friendly installation. Our detailed guide and support make it simple for anyone to achieve professional results.
      </p>
    </div>
  </div>
  <div class="feature-item">
    <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_33_2.png?v=1727090267" alt="100% Eco-Friendly" class="feature-image" />
    <div class="feature-text">
      <h3 class="featured-heading" >100% Eco-Friendly</h3>
      <p>
        Choose Flexfloor for a greener home. Our flooring is made from 100% eco-friendly materials, ensuring sustainability without compromising quality.
      </p>
    </div>
  </div>
  <div class="feature-item">
    <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_33_3.png?v=1727090302" alt="6 Perfect Shades" class="feature-image" />
    <div class="feature-text">
      <h3 class="featured-heading">6 Perfect Shades</h3>
      <p>
        Discover the perfect match for your decor with Flexfloor's six expertly curated shades. Each color is designed to bring elegance and warmth to any space.
      </p>
    </div>
  </div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom featured section",
    "settings": [
      
    ],
       "presets": [
    {
      "name": "Custom featured section"
    }
  ] 
  }
{% endschema %}