{{ 'custom-section-why-services.css' | asset_url  | stylesheet_tag }}

<div class="custom-why-services section-padding">
  <div class="page-width">
    <div class="service-wrap">
      <div class="heading-block">
        <div class="main-heading h1">Class aptent <span>taciti sociosqu</span> ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
      </div>
      <div class="services-wrapper">
        <ul class="list-unstyled">
          <li class="service-item">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path d="M2.5 10.4H37.5M2.5 10.4V37.5H37.5V10.4M2.5 10.4L8 2.5H32L37.5 10.4M20 2.5V10.4M13.5 23.95L20 17.45M20 17.45L26.5 23.95M20 17.45V30.45" stroke="#2783D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            <h5 class="h5 service-title">USP Title 01</h5>
            <p>Article Introduction copy here. Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
          </li>
          <li class="service-item">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
              <path d="M21 27C14.3726 27 9 21.6274 9 15V3.88889C9 3.06119 9 2.64735 9.12062 2.31596C9.32281 1.76043 9.76043 1.32281 10.316 1.12061C10.6473 1 11.0612 1 11.8889 1H30.1111C30.9388 1 31.3527 1 31.684 1.12061C32.2396 1.32281 32.6772 1.76043 32.8794 2.31596C33 2.64735 33 3.06119 33 3.88889V15C33 21.6274 27.6274 27 21 27ZM21 27V33M33 5H38C38.9319 5 39.3978 5 39.7654 5.15224C40.2554 5.35523 40.6448 5.74458 40.8478 6.23463C41 6.60218 41 7.06812 41 8V9C41 10.8599 41 11.7899 40.7956 12.5529C40.2408 14.6235 38.6235 16.2408 36.5529 16.7956C35.7899 17 34.8599 17 33 17M9 5H4C3.06812 5 2.60218 5 2.23463 5.15224C1.74458 5.35523 1.35523 5.74458 1.15224 6.23463C1 6.60218 1 7.06812 1 8V9C1 10.8599 1 11.7899 1.20445 12.5529C1.75925 14.6235 3.37653 16.2408 5.44709 16.7956C6.21008 17 7.14006 17 9 17M11.8889 41H30.1111C30.602 41 31 40.602 31 40.1111C31 36.1838 27.8162 33 23.8889 33H18.1111C14.1838 33 11 36.1838 11 40.1111C11 40.602 11.398 41 11.8889 41Z" stroke="#2783D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            <h5 class="h5 service-title">USP Title 02</h5>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Curabitur tempus urna at turpis condimentum lobortis.</p>
          </li>
          <li class="service-item">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path d="M10.2778 37.5C12.3406 37.5 14.3189 36.6806 15.7775 35.2219C17.2361 33.7633 18.0556 31.785 18.0556 29.7222V6.38889C18.0556 5.35749 17.6458 4.36834 16.9165 3.63903C16.1872 2.90972 15.1981 2.5 14.1667 2.5H6.38889C5.35749 2.5 4.36834 2.90972 3.63903 3.63903C2.90972 4.36834 2.5 5.35749 2.5 6.38889V29.7222C2.5 31.785 3.31944 33.7633 4.77806 35.2219C6.23667 36.6806 8.21498 37.5 10.2778 37.5ZM10.2778 37.5H33.6111C34.6425 37.5 35.6317 37.0903 36.361 36.361C37.0903 35.6317 37.5 34.6425 37.5 33.6111V25.8333C37.5 24.8019 37.0903 23.8128 36.361 23.0835C35.6317 22.3542 34.6425 21.9444 33.6111 21.9444H29.1389M10.2778 29.7222H10.2972M18.0556 12.2222L22.5278 7.75C22.962 7.31428 23.478 6.96871 24.0463 6.73315C24.6145 6.49758 25.2237 6.37669 25.8388 6.37741C26.454 6.37813 27.0629 6.50046 27.6306 6.73736C28.1982 6.97425 28.7135 7.32104 29.1467 7.75778L32.8333 11.4444C33.2817 11.8757 33.6393 12.3923 33.8852 12.9639C34.131 13.5354 34.26 14.1503 34.2647 14.7724C34.2695 15.3945 34.1497 16.0113 33.9126 16.5865C33.6754 17.1617 33.3257 17.6836 32.8839 18.1217L15.9167 35.1667" stroke="#2783D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </span>
            <h5 class="h5 service-title">USP Title 03</h5>
            <p>Article Introduction copy here. Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
          </li>
          <li class="service-item">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M8.02632 29.2105C8.02632 30.1877 8.41447 31.1248 9.1054 31.8157C9.79632 32.5066 10.7334 32.8948 11.7105 32.8948C12.6876 32.8948 13.6247 32.5066 14.3157 31.8157C15.0066 31.1248 15.3947 30.1877 15.3947 29.2105M8.02632 29.2105C8.02632 28.2334 8.41447 27.2963 9.1054 26.6054C9.79632 25.9145 10.7334 25.5263 11.7105 25.5263C12.6876 25.5263 13.6247 25.9145 14.3157 26.6054C15.0066 27.2963 15.3947 28.2334 15.3947 29.2105M8.02632 29.2105H4.34211V21.8421M15.3947 29.2105H26.4474M26.4474 29.2105C26.4474 30.1877 26.8355 31.1248 27.5264 31.8157C28.2174 32.5066 29.1545 32.8948 30.1316 32.8948C31.1087 32.8948 32.0458 32.5066 32.7367 31.8157C33.4276 31.1248 33.8158 30.1877 33.8158 29.2105M26.4474 29.2105C26.4474 28.2334 26.8355 27.2963 27.5264 26.6054C28.2174 25.9145 29.1545 25.5263 30.1316 25.5263C31.1087 25.5263 32.0458 25.9145 32.7367 26.6054C33.4276 27.2963 33.8158 28.2334 33.8158 29.2105M33.8158 29.2105H37.5V18.1579M2.5 7.10529H22.7632V29.2105M37.5 18.1579H22.7632M37.5 18.1579L31.9737 8.94739H22.7632M4.34211 14.4737H11.7105" stroke="#2783D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            <h5 class="h5 service-title">USP Title 04</h5>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Curabitur tempus urna at turpis condimentum lobortis.</p>
          </li>
          <li class="service-item">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M10.7905 31.9737H6.76548C6.18442 31.9754 5.6128 31.8268 5.10606 31.5425C4.59933 31.2581 4.1747 30.8476 3.87338 30.3508C3.584 29.8518 3.43099 29.2854 3.4297 28.7086C3.4284 28.1318 3.57888 27.5648 3.86601 27.0645L11.1515 14.4737M11.1515 14.4737L13.1723 22.0189M11.1515 14.4737L3.60627 16.4963M18.1589 31.9737H33.2697C33.848 31.9692 34.4154 31.816 34.9173 31.5289C35.4193 31.2418 35.839 30.8304 36.136 30.3342C36.4214 29.8366 36.5715 29.273 36.5715 28.6993C36.5715 28.1257 36.4214 27.5621 36.136 27.0645L33.8776 23.1592M18.1589 31.9737L23.6852 26.4474M18.1589 31.9737L23.6852 37.5M15.1084 7.67816L17.1218 4.1929C17.4109 3.68889 17.8254 3.26817 18.325 2.97156C18.8247 2.67494 19.3925 2.51251 19.9734 2.50001C20.5498 2.49893 21.1164 2.64951 21.6163 2.93663C22.1162 3.22375 22.5317 3.63731 22.8213 4.13579L30.0847 16.7413M30.0847 16.7413L22.5394 14.7187M30.0847 16.7413L32.1055 9.19606" stroke="#2783D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            <h5 class="h5 service-title">USP Title 05</h5>
            <p>Article Introduction copy here. Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
          </li>
          <li class="service-item">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M27.6706 7.7646L25.1833 10.2519M32.6452 12.7392L27.6706 17.7138M25.1833 30.1504L36.3762 18.9575C36.706 18.6277 36.8913 18.1803 36.8913 17.7138C36.8913 17.2474 36.706 16.8 36.3762 16.4702L23.9396 4.03363C23.6098 3.70379 23.1625 3.51849 22.696 3.51849C22.2295 3.51849 21.7822 3.70379 21.4523 4.03363L10.2594 15.2265M25.1833 30.1504L10.2594 15.2265M25.1833 30.1504C25.5131 30.4802 25.6984 30.9276 25.6984 31.394C25.6984 31.8605 25.5131 32.3079 25.1833 32.6377L23.9396 33.8814C23.28 34.541 22.3853 34.9116 21.4523 34.9116C20.5194 34.9116 19.6247 34.541 18.965 33.8814L16.4777 31.394C16.1479 31.0642 15.7005 30.8789 15.2341 30.8789C14.7676 30.8789 14.3202 31.0642 13.9904 31.394L10.3838 35.0006C9.72413 35.6603 8.82942 36.0309 7.89649 36.0309C6.96357 36.0309 6.06886 35.6603 5.40918 35.0006C4.74951 34.341 4.37891 33.4463 4.37891 32.5133C4.37891 31.5804 4.74951 30.6857 5.40918 30.026L9.01578 26.4194C9.34562 26.0896 9.53092 25.6422 9.53092 25.1758C9.53092 24.7093 9.34562 24.2619 9.01578 23.9321L6.52847 21.4448C5.8688 20.7851 5.49819 19.8904 5.49819 18.9575C5.49819 18.0246 5.8688 17.1299 6.52847 16.4702L7.77213 15.2265C8.10196 14.8967 8.54932 14.7114 9.01578 14.7114C9.48224 14.7114 9.9296 14.8967 10.2594 15.2265" stroke="#2783D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            <h5 class="h5 service-title">USP Title 06</h5>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Curabitur tempus urna at turpis condimentum lobortis.</p>
          </li>
          <li class="service-item">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M2.5 10.4H37.5M2.5 10.4V37.5H37.5V10.4M2.5 10.4L8 2.5H32L37.5 10.4M20 2.5V10.4M13.5 23.95L20 17.45M20 17.45L26.5 23.95M20 17.45V30.45" stroke="#2783D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            <h5 class="h5 service-title">USP Title 07</h5>
            <p>Article Introduction copy here. Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
          </li>
          <li class="service-item">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
                <path d="M21 27C14.3726 27 9 21.6274 9 15V3.88889C9 3.06119 9 2.64735 9.12062 2.31596C9.32281 1.76043 9.76043 1.32281 10.316 1.12061C10.6473 1 11.0612 1 11.8889 1H30.1111C30.9388 1 31.3527 1 31.684 1.12061C32.2396 1.32281 32.6772 1.76043 32.8794 2.31596C33 2.64735 33 3.06119 33 3.88889V15C33 21.6274 27.6274 27 21 27ZM21 27V33M33 5H38C38.9319 5 39.3978 5 39.7654 5.15224C40.2554 5.35523 40.6448 5.74458 40.8478 6.23463C41 6.60218 41 7.06812 41 8V9C41 10.8599 41 11.7899 40.7956 12.5529C40.2408 14.6235 38.6235 16.2408 36.5529 16.7956C35.7899 17 34.8599 17 33 17M9 5H4C3.06812 5 2.60218 5 2.23463 5.15224C1.74458 5.35523 1.35523 5.74458 1.15224 6.23463C1 6.60218 1 7.06812 1 8V9C1 10.8599 1 11.7899 1.20445 12.5529C1.75925 14.6235 3.37653 16.2408 5.44709 16.7956C6.21008 17 7.14006 17 9 17M11.8889 41H30.1111C30.602 41 31 40.602 31 40.1111C31 36.1838 27.8162 33 23.8889 33H18.1111C14.1838 33 11 36.1838 11 40.1111C11 40.602 11.398 41 11.8889 41Z" stroke="#2783D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            <h5 class="h5 service-title">USP Title 08</h5>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Curabitur tempus urna at turpis condimentum lobortis.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Why Services",
    "settings": [],
    "presets": [
      {
        "name": "Custom Why Services"
      }
    ]
  }
{% endschema %}