{{ 'custom-section-buy-flexifloor.css' | asset_url | stylesheet_tag }}

<div class="custom-buy-flexifloor section-padding small-hide">
  <div class="page-width">
    <div class="buy-flexifloor-wrapper">
      <div class="flexi-title-wrapper"><h2 class="title">Ready to Transform Your Space?</h2></div>
      <a href="/" class="button btn-primary btn-primary-hover">Buy Flexifloor</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Buy Flexifloor",
    "settings": [],
    "presets": [
      {
        "name": "Custom Buy Flexifloor"
      }
    ]
  }
{% endschema %}