{{ 'custom-product-slider.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}

<div class="custom-product-slider">
   <h2 class="product-slider-heading">Spaces Transformed with Flexifloor</h2>
    <div class="swiper-container1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_25_2.png?v=1727082713" alt="Image 1">
              <div class="product-detail">
                <div class="product-inner">
                  <h4 class="product-title">Natural Wood</h4>
                   <p class="product-type">Flexifloor Tiles</p>
                  <div class="price-container">
                    <div class="price-group">
                      <p class="compare-price">$56.90</p>
                      <p class="regular price">$49.00 </p>
                    </div>
                    <a href="#" class="product-link"> {% render 'custom-icon-arrow-right' %} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_28.png?v=1727082730" alt="Image 1">
               <div class="product-detail">
                <div class="product-inner">
                  <h4 class="product-title">Natural Wood</h4>
                   <p class="product-type">Flexifloor Tiles</p>
                  <div class="price-container">
                    <div class="price-group">
                      <p class="compare-price">$56.90</p>
                      <p class="regular price">$49.00 </p>
                    </div>
                    <a href="#" class="product-link"> {% render 'custom-icon-arrow-right' %} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_26_1.png?v=1727082746" alt="Image 1">
               <div class="product-detail">
                <div class="product-inner">
                  <h4 class="product-title">Natural Wood</h4>
                   <p class="product-type">Flexifloor Tiles</p>
                  <div class="price-container">
                    <div class="price-group">
                      <p class="compare-price">$56.90</p>
                      <p class="regular price">$49.00 </p>
                    </div>
                    <a href="#" class="product-link"> {% render 'custom-icon-arrow-right' %} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_28.png?v=1727082730" alt="Image 1">
               <div class="product-detail">
                <div class="product-inner">
                  <h4 class="product-title">Natural Wood</h4>
                   <p class="product-type">Flexifloor Tiles</p>
                  <div class="price-container">
                    <div class="price-group">
                      <p class="compare-price">$56.90</p>
                      <p class="regular price">$49.00 </p>
                    </div>
                    <a href="#" class="product-link"> {% render 'custom-icon-arrow-right' %} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_25_2.png?v=1727082713" alt="Image 1">
              <div class="product-detail">
                <div class="product-inner">
                  <h4 class="product-title">Natural Wood</h4>
                   <p class="product-type">Flexifloor Tiles</p>
                  <div class="price-container">
                    <div class="price-group">
                      <p class="compare-price">$56.90</p>
                      <p class="regular price">$49.00 </p>
                    </div>
                    <a href="#" class="product-link"> {% render 'custom-icon-arrow-right' %} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_28.png?v=1727082730" alt="Image 1">
               <div class="product-detail">
                <div class="product-inner">
                  <h4 class="product-title">Natural Wood</h4>
                   <p class="product-type">Flexifloor Tiles</p>
                  <div class="price-container">
                    <div class="price-group">
                      <p class="compare-price">$56.90</p>
                      <p class="regular price">$49.00 </p>
                    </div>
                    <a href="#" class="product-link"> {% render 'custom-icon-arrow-right' %} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_26_1.png?v=1727082746" alt="Image 1">
               <div class="product-detail">
                <div class="product-inner">
                  <h4 class="product-title">Natural Wood</h4>
                   <p class="product-type">Flexifloor Tiles</p>
                  <div class="price-container">
                    <div class="price-group">
                      <p class="compare-price">$56.90</p>
                      <p class="regular price">$49.00 </p>
                    </div>
                    <a href="#" class="product-link"> {% render 'custom-icon-arrow-right' %} </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_28.png?v=1727082730" alt="Image 1">
               <div class="product-detail">
                <div class="product-inner">
                  <h4 class="product-title">Natural Wood</h4>
                   <p class="product-type">Flexifloor Tiles</p>
                  <div class="price-container">
                    <div class="price-group">
                      <p class="compare-price">$56.90</p>
                      <p class="regular price">$49.00 </p>
                    </div>
                    <a href="#" class="product-link"> {% render 'custom-icon-arrow-right' %} </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
  <div class="slider-navigation">
     <div class="swiper-button-prev">
         {% render 'custom-swiper-arrow' %}
     </div>
     <div class="swiper-button-next">
         {% render 'custom-swiper-arrow' %}
     </div>
  </div>
      <div class="swiper-scrollbar"></div>    
 </div>
</div>         

<script>
window.onload = function() {
    const slides = document.querySelectorAll('.swiper-slide img');
    slides.forEach(img => {
        img.onload = function() {
            const heightRatio = img.naturalHeight / img.height;
            img.style.width = `${img.naturalWidth / heightRatio}px`;
        };
    });

    const swiper = new Swiper('.swiper-container1', {
        slidesPerView: 'auto',
        freeMode: true,
        spaceBetween: 10,
       navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
        scrollbar: {
            el: '.swiper-scrollbar',
            draggable: true,
        },
    });
};
</script>

{% schema %}
  {
    "name": "Custom product slider",
    "settings": [
      
    ],
    "presets": [
    {
      "name": "Custom product slider"
    }
  ]  
  }
{% endschema %}