{{ 'custom-section-why-flexifloor.css' | asset_url | stylesheet_tag }}

<div class="custom-why-flexifloor section-padding">
  <div class="page-width">
    <h6 class="why-title h6">Why Flexifloor?</h6>
    <div class="why-flexifloor-wrapper">
      <div class="flexifloor-block">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/why1.png?v=1727360229" height="auto" width="auto">
        </div>
        <div class="why-content-wrap"><div class="why-content">
          <h5 class="title h5">6 Perfect Shades</h5>
          <p class="desc">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti.</p>
        </div></div>
      </div>
      <div class="flexifloor-block">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/why2.png?v=1727360228" height="auto" width="auto">
        </div>
        <div class="why-content-wrap"><div class="why-content">
          <h5 class="title h5">Easy to Install</h5>
          <p class="desc">Velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div></div>
      </div>
      <div class="flexifloor-block">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/why3.png?v=1727360229" height="auto" width="auto">
        </div>
        <div class="why-content-wrap"><div class="why-content">
          <h5 class="title h5">100% Eco-Friendly</h5>
          <p class="desc">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti.</p>
        </div></div>
      </div>
      <div class="flexifloor-block">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/why4.png?v=1727360229" height="auto" width="auto">
        </div>
        <div class="why-content-wrap"><div class="why-content">
          <h5 class="title h5">Durable & Safe</h5>
          <p class="desc">Velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Why Flexifloor",
    "settings": [],
    "presets": [
      {
        "name": "Custom Why Flexifloor"
      }
    ]
  }
{% endschema %}