
  .custom-icon-with-text-grid .icon-text-row:nth-child(1){ background-color:#1C3F5E;}
.custom-icon-with-text-grid .icon-text-row:nth-child(2){ background-color:#1C609B; }
.custom-icon-with-text-grid   .icon-text-row:nth-child(3){ background-color:#FAFAFA;}
.custom-icon-with-text-grid  .icon-text-row:nth-child(3)  .text-content a{ color:#000; }
.custom-icon-with-text-grid .icon-text-row:nth-child(3)  .text-content p{ color:#000; }
 .custom-icon-with-text-grid  .icon-text-row:nth-child(3)  .text-content h4{ color:#000; }

.custom-icon-with-text-grid .icon-text-row:nth-child(1) .text-content a:hover{ background-color:#fff; color:#1c3f5e;}
.custom-icon-with-text-grid .icon-text-row:nth-child(2) .text-content a:hover{ background-color:#fff; color:#1c3f5e;}
.custom-icon-with-text-grid .icon-text-row:nth-child(3) .text-content a{ background-color:#2783D2; color:#fff; border:1px solid transparent;}
.custom-icon-with-text-grid .icon-text-row:nth-child(3) .text-content a:hover{ background:transparent; border:1px solid #2783D2;   color:#2783D2;}
.custom-icon-with-text-grid .custom-icon-container{
 
  padding:150px 75px;
  /* margin: 0 auto;
   max-width: 1900px; */
}
.custom-icon-with-text-grid .icon-text-rows {
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
}
.custom-icon-with-text-grid .icon-text-row {
  display: flex;
  align-items: flex-start;
flex-direction:column;
  padding: 30px 30px;
  border-radius: 8px;
  width:100%;
}

.custom-icon-with-text-grid .text-content {
  flex: 1;
  margin-left:0px;
}
.custom-icon-with-text-grid .text-content a{ color:#ffffff; text-decoration:none; 
font-family: "Helvetica Now Display";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 16px */
letter-spacing: 0.8px; 
transition:all 0.3s linear;                                             
 }
.icon.mobile-hide{ margin-bottom:40px; }
.custom-icon-with-text-grid .text-content p{ color:#ffffff; 
  font-family: "Helvetica Now Display";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */                                    
}
.custom-icon-with-text-grid .text-content h4{ 
  color:#ffffff;
font-family: "Helvetica Now Display";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
letter-spacing: -0.48px; 
  margin:0; 
}
 .custom-icon-with-text-grid .main-title{
    font-family: "Helvetica Now Display";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 40px */
letter-spacing: -0.8px;
  }
  .custom-icon-with-text-grid .button-group svg{ color:#fff; }
 .custom-icon-with-text-grid .icon-text-row:nth-child(3) .custom-icon-with-text-grid .button-group svg{ color:#000; }
    .custom-icon-with-text-grid .button-group svg{width:16px; height:16px; }
  /* .custom-icon-with-text-grid .button-group{ display:flex; align-items:center; gap:5px; } */
.custom-icon-with-text-grid .text-content p{ margin-bottom:30px;}
  .custom-icon-with-text-grid .text-content a{ color:#ffffff; text-decoration:none; 
font-family: "Helvetica Now Display";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 16px */
letter-spacing: 0.8px;     
padding: 16px 30px;
border-radius: 10px;
border: 1px solid;                                              
 }
@media screen and (min-width:768px){
 .custom-icon-with-text-grid .icon-text-rows{ margin-top:6rem; }
 .custom-icon-with-text-grid .custom-icon-with-text-grid .text-content p{ margin-top:10px; margin-bottom:30px; }
  .custom-icon-with-text-grid .custom-icon-with-text-grid  .icon.desktop-hide{ display:none;}

}
  .custom-icon-with-text-grid .icon-text-row:last-child  .button-group svg{ color:#000; }
@media screen and (max-width:989px){
.custom-icon-with-text-grid .icon-text-rows{ flex-direction:column;} }
@media screen and (max-width:576px){
 .custom-icon-with-text-grid .text-content a{
   display: flex;
    align-items: center;
    justify-content: center;
 }   
}
@media screen and (max-width:767px){
  .custom-icon-with-text-grid .text-content h4{ font-size:20px; }
  .custom-icon-with-text-grid .custom-icon-container{ padding:60px 20px 20px 20px; }
  .custom-icon-with-text-grid .icon.desktop-hide svg{ width:24px; height:24px; }
  .custom-icon-with-text-grid .text-content p{ margin-top:10px;  }
  .custom-icon-with-text-grid   .icon-text-row{ border-radius:20px;}
  .custom-icon-with-text-grid .main-title{ font-size:36px; margin-bottom:20px; }
   .custom-icon-with-text-grid .icon-group{ display:flex; align-items:center; gap:15px;  }
  .custom-icon-with-text-grid   .icon.mobile-hide{ display:none;}
    .custom-icon-with-text-grid .icon-text-rows{ gap:10px;}
  /* .custom-icon-with-text-grid  a.learn-more-btn{
  color: var(--White, #FFF);
text-align: center;
font-family: Inter !Important;
font-size: 16px;
font-style: normal;
font-weight: 700;
letter-spacing:0;
line-height: normal;
} */

}

/* .custom-icon-with-text-grid .text-content a{ position:relative; }
.custom-icon-with-text-grid .text-content a:hover:after{
  width:100%;
}
.custom-icon-with-text-grid .text-content a:after{
     content: "";
    width: 0;
    height: 1px;
    background: currentcolor;
    position: absolute;
    bottom: -3px;
    left: 0;
    pointer-events: none;
    transition: width .3s ease-in;
} */

/* .custom-icon-with-text-grid .custom-icon-container{ margin-bottom:15rem; } */