/* Container for the feature section */
.features-section .custom-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}
.features-section{
    padding: 150px 75px;
  
  margin:0 auto;
}

/* Each individual feature */
.features-section .feature-item {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  text-align: center;
  width: calc(50% - 20px);
  gap:30px; 
  margin-bottom: 40px;
}

.features-section .feature-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 0px;

}

.features-section .feature-text p{ text-align:left; }
.features-section .feature-text{
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.features-section .feature-text h3 {
  margin-top:0;
  margin-bottom: 10px;
}

.features-section .feature-text p {
 font-family: "Helvetica Now Display";
font-size: 16px;
font-style: normal;
font-weight: 400;
text-align:left;
line-height: 150%; /* 24px */
color:#000;
margin:0;
}
.features-section .featured-heading{ color:#000; /* Header 04 */
font-family: "Helvetica Now Display";
font-size: 32px;
font-style: normal;
font-weight: 700;
text-align:left;
line-height: 120%; /* 38.4px */
letter-spacing: -0.64px;}
/* Responsive adjustments */
.features-section .featured-section-heading{ margin-bottom:40px; }
@media screen and (min-width:1024px) and (max-width:1539px){
 .features-section .feature-item img{ max-width:24rem;}
}
@media screen and (min-width:1024px) and (max-width: 1199px) {
.features-section  .featured-heading{ font-size:24px; }
.features-section{ padding:150px 40px; } }
@media screen and (max-width:1023px){
 .features-section .feature-item{ gap:20px; }
 .features-section .featured-heading{ font-size:24px; }
.features-section .feature-item {
  flex-direction:column;
}
}
@media screen and (max-width:576px){
.features-section .feature-item img{ max-height:220px;} }
@media screen and (max-width:767px){
 .features-section .featured-section-heading{ margin-bottom:30px; }
  .features-section{ padding:20px;}
.features-section .featured-heading{
  color:#000; 
  font-family: "Helvetica Now Display";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
letter-spacing: -0.48px;
}
}
@media screen and (min-width:1200px) and (max-width:1539px) {
.features-section .feature-item img{ min-height:170px; max-height:170px; } }
@media screen and (min-width:1540px) {
.features-section .feature-item img {
  max-width:30rem; } }
@media (max-width: 768px) {
 .features-section .feature-item {
    width: 100%;
  }
}

.features-section .featured-section-heading{
  color: var(--black-20, rgba(0, 0, 0, 0.20));
/* Header 06 */
font-family: "Helvetica Now Display";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 24px */
letter-spacing: -0.4px;
}

