/* add Css here please */
/****Product Slider Starts***/
.custom-product-slider .carousel-item {
  position: relative;
  padding: 10px;
}
.product-details {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50px);
  background: #fff;
  border-radius: 10px;
  opacity:0;
  transition:all 0.3s;
  cursor:pointer;
}
.product-infos {
  padding: 14px;
  width: 140px;
}
.product-infos p{
  margin:0 !important;
  color:#000000;
  font-size:12px;
}
.product-infos p.product-collection-name{
  font-weight:600;
  font-size:14px;
}
.product-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.product-image img {
  height:100%;
  object-fit: cover;
  width: 100%; 
}
.product-prices {
  font-weight: 700;
  font-size: 16px !important;
}
.product-infos p .compare-at-price{
  color:#00000033 !important;
  text-decoration: line-through !important;
}
.custom-product-slider .carousel-item a{
  width:100%;
  display:block;
}
.custom-product-slider .carousel-item a:hover + .product-details ,.custom-product-slider .carousel-item a .product-details:hover,.product-details:hover{
  opacity:1;
  transition:all 0.3s;
}
.custom-product-slider .carousel-item img{
  width:100%;
}
.product-carousel-heading{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 0 60px;
  margin-bottom:24px;
}
.product-carousel-heading h2{
  margin:0;
  font-weight:600;
  color:#000000;
}
.product-info-arrow-mobile{
  padding: 8px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  display:flex;
  position: absolute;
  right: 12px;
  bottom:12px;
  background:#2783d2;
  
}

@media(max-width:1440px){
  .product-details{
    top:40%;
  }
}
@media(max-width:749px){
  .product-carousel-heading .heading{
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 21.6px */
letter-spacing: -0.36px;
  }
  .product-carousel-heading h2{
font-size: 36px;/* 36px */
letter-spacing: -0.72px;
  }
  .product-carousel-heading{
    margin-top:0 !important;
  }
  .product-infos p {
    margin: 0 !important;
   
  }
  .product-image {
    display:none;
  }
  .product-details{
    width: calc(100% - 36px);
    bottom: 18px;
    left: 18px;
    top: unset;
    transform: unset;
    opacity:1 !important;
  }
  .product-infos{
    width:100%;
    padding-right:70px;
  }
  .product-infos{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .product-info-arrow-mobile{
    bottom:calc(50% - 17px);
  }
  .product-prices{
    color:#000;
    font-weight:600 !important;
  }
  .product-carousel-heading{
    padding:0;
  }
  .product-carousel-section .product-carousel-heading{
    padding:0 1.5rem !important ;
    display:block;
  }
  .product-carousel-section .product-carousel-heading a{
    width:100%;
  } 
}